*{
    margin: 0;padding: 0;box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
    
}
header{
    position: relative;
    left: 0;
    top: 0;
    width: 110%;
    height: 50rem;
    background-color: skyblue;
    right: 0;

}
header .top-section{
    position: fixed;
    height: 9rem;
    width: 100%;
    background-color: black;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20%;
    
}

.icon{
    display:none;
}
header .top-section ul{
display: flex;
list-style: none;
}
header .top-section ul li a{
font-size: 2.5rem;
color: white;
list-style: none;
text-decoration: none;
text-transform: capitalize;
margin: 2.5rem;

}

header .intro{
    /* position: absolute;
    left: 30%;
    top: 40%;
    text-align: center; */
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
flex-direction: column;
padding:  0 10%;

}
header .intro h1{
font-size: 4rem;
text-transform: uppercase;

}
header .intro p{
font-size: 2.5rem;
text-transform: capitalize;

}
header .intro button{
    padding: 1rem 3rem;
    margin-top: 2rem;
    background-color: green;
    color: #ffff;
    border: none;
    border-radius: .5rem;
    font-size: 2.5rem;
}

.section-1{
    position: relative;
    height: 40rem;
    width: 100%;
    display: flex;
    align-items: center;
    /* flex-direction: column; */

}
.profile-div{
    position: absolute;
}
.profile{
    position: relative;
    left: 20%;
    height: 25rem;
    width: 25rem;
    border: 1.5rem solid green;
    border-radius: 50%;
/* margin-top: 30%; */
}
.profile-div img{
    position: absolute;
    height:100%;
    width:100%;
    border: .5rem solid #ffff;
    border-radius: 50%;
    
}

 .section-1 .about-me{
    position: absolute;
    top: 45%;
    /* left: 30%; */
    width: 50%;
    right: 25%;
    
}

 .section-1 .about-me h1{
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
 }
 .section-1 .about-me p{
    font-size: 2.5rem;
    /* text-transform: capitalize; */
    /* text-align: center; */
 }
h2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.container{
    display: inline-block;
    height: 30rem;
    width: 35rem;
    border: .2rem solid black;
    position: relative;
    margin: .8rem;
}
.container .sub-container{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .sub-container img{
    height: 100%;
    width: 100%;
}
.main-container{
    display: flex;
    justify-content: center;
}

.input-container input{
    display: block;
    padding: 1rem;
    width: 100%;
    font-size: 2rem;
    color: darkgray;
    text-transform: capitalize;
    margin: 3rem;
    outline: none;
    border: none;
    background-color: #ffff;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}
.input-container input::placeholder{
    color: darkgray;
}

.input-container button{
    padding: 1rem 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    background-color: black;
    /* border: 3px solid green; */
    cursor: pointer;
    margin-left: 3rem;
    color: #ffff;
    margin-bottom: 5rem;
}


@media (max-width:96rem) {
    html{
        font-size:62.5%;
    }
}
@media (max-width:80rem) {
    html{
        font-size:50%;
    }
}

@media (max-width:62.5rem) {
 
   
    
}




/* @media (max-width:64rem) {
    html{
        font-size:40%;
    }
}
@media (max-width:48rem) {
    html{
        font-size:30%;
    }
}
@media (max-width:25rem) {
    html{
        font-size:15%;
    }



}
@media (max-width:20rem) {
    html{
        font-size:10%;
    }



}
@media (max-width:15rem) {
    html{
        font-size:5%;
    }



}
@media (max-width:40rem) {
    html{
        font-size:20%;
    }



} */


@media (max-width:420px) {
/* .section-1{
    display: flex;
} */


    .section-1 .about-me {
        right: 13%;
        top: 35%;
    }


}
@media (max-width:40rem) {
        
    html{
        font-size: 50%;
    }
    
    .main-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .container{
            display: block;
        }

         .section-1{
        justify-content: center;
        height: 60rem;
        align-items: normal;
    }

    .section-1 .profile-div{
        top: 10%;
    }

    .section-1 .about-me{
        
        width: 50%;
        
        
    }
    
    .main-about{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 55%;
        
    }

    .work{
        position: relative;
        left: 10%;
    }
}

@media (max-width:64.3rem) {
    .section-1 .about-me{
        right: 17%;
        top: 40%;
    
    }
}
@media (max-width:50.6rem) {
    .section-1 .about-me{
        right: 10%;
        top: 40%;
    
    }
}

@media (max-width:510px) {
    
.top-section ul li{
    display: none;
}


        .icon{
    
    font-size: 3rem;
    color: #ffff;
    position: absolute;
    right: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}
    
}